/* font Anton sc */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
/* font Butcherman */
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
/* my style */
*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    background-color: #0C0C0C;
    font-size: 78.5%;
}
body{
    background-color: #000;
    font-family: "Anton SC", sans-serif;
}
/* navbar */
.navbar{
    background-color:#0C0C0C;
    border-bottom:1px solid rgba(255, 255, 255,.8);
    z-index: 2;
    width: 100%;
    color:#0C0C0C;
    padding: 1%;
}
.navbar:hover{
    background-color: #0C0C0C;
    cursor: pointer;
    transition: all .6s ease;
}
.navbar-brand{
    color: #fff;
    font-size: 25px;
    font-family: "Butcherman", system-ui;
    font-weight: 900;
    letter-spacing: 1.5px;
}
.navbar-toggler{
    border: none;
    font-size: 1.8rem;
    color: #fff;
    opacity: 1;
}
.navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}
.navbar-toggler.active{
    border: none;
}
.navbar-toggler-icon{
   border-color: #fff;
   opacity: 1;
   color: #fff;
}
.navbar-nav li a{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
}
.dropdown-menu{
    background-color: #0C0C0C;
    border: 1px solid rgba(255, 255, 255, .2);
}
/* media queris */
@media (max-width: 991px){
    .sidebar{
        background-color: rgba(12, 12, 12,.8);
        backdrop-filter: blur(10px);
    }
    .offcanvas-title{
        font-family: "Butcherman", system-ui;
        font-size: 25px;
        letter-spacing: 1.5px;
    }
    .offcanvas .btn-close{
        font-size: 1.5rem;
        opacity: 1;
    }
}